
    <div class="hero-2" style="background-image: url('images/hero_2.jpg');">
        <div class="container">
            <div class="row justify-content-center text-center align-items-center">
                <div class="col-md-8">
                    <span class="sub-title">Welcome to</span>
                    <h2>Sharab Hub</h2>
                </div>
            </div>
        </div>
    </div>
