@{
    ViewData["Title"] = "Home Page";
}

<div class="owl-carousel hero-slide owl-style">
    <div class="intro-section container" style="background-image: url('images/hero_1.jpg');">
        <div class="row justify-content-center text-center align-items-center">
            <div class="col-md-8">
                <span class="sub-title">Royal Grape Wine at Ganja</span>
                <h1>Sharab Hub</h1>
            </div>
        </div>
    </div>

    <div class="intro-section container" style="background-image: url('images/hero_2.jpg');">
        <div class="row justify-content-center text-center align-items-center">
            <div class="col-md-8">
                <span class="sub-title">Welcome to</span>
                <h1>Ganja Sharab</h1>
            </div>
        </div>
    </div>

</div>



<partial name="_Bottles" model="false" />

<partial name="_Parallax" />

<partial name="_CommentCarousel" />


<div class="site-section bg-light">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 section-title text-center mb-5">
                <h2 class="d-block">ganja sharab blog</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, perspiciatis!</p>
                <p><a href="#">View All Products <span class="icon-long-arrow-right"></span></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0 col-md-6">
                <div class="post-entry-1">
                    <a href="post-single.html"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
                    <h2><a href="blog-single.html">What You Need To Know About Yeddi Gozal Masterpiece</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Filankəs Filankəsov</a> in <a href="#">News</a></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0 col-md-6">
                <div class="post-entry-1">
                    <a href="post-single.html"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
                    <h2><a href="blog-single.html">What You Need To Know About Yeddi Gozal Masterpiece</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Filankəs Filankəsov</a> in <a href="#">News</a></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0 col-md-6">
                <div class="post-entry-1">
                    <a href="post-single.html"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
                    <h2><a href="blog-single.html">What You Need To Know About Yeddi Gozal Masterpiece</a></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi temporibus praesentium neque, voluptatum quam quibusdam.</p>
                    <div class="post-meta">
                        <span class="d-block"><a href="#">Filankəs Filankəsov</a> in <a href="#">News</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
